<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Updater.Properties.Settings>
            <setting name="setFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="setClosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstInstall" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="serverFileCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastFileInList" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpUser" serializeAs="String">
                <value>anonymous</value>
            </setting>
            <setting name="ftpUpdateURL" serializeAs="String">
                <value>https://raw.githubusercontent.com/TarkinII/Updater/master/ftpUrl.txt</value>
            </setting>
            <setting name="patchServerURL" serializeAs="String">
                <value>https://tarkinswg.com/tre/patch</value>
            </setting>
            <setting name="aboutURL" serializeAs="String">
                <value>https://raw.githubusercontent.com/TarkinII/Updater/master/about.txt</value>
            </setting>
            <setting name="statusURL" serializeAs="String">
                <value>tarkinlogin.ddns.net</value>
            </setting>
            <setting name="statusPort" serializeAs="String">
                <value>44455</value>
            </setting>
            <setting name="forumURL" serializeAs="String">
                <value>https://tarkinswg.com/</value>
            </setting>
            <setting name="ignoreList" serializeAs="String">
                <value>options.cfg swgemu.cfg user.cfg swgemu_machineoptions.iff</value>
            </setting>
            <setting name="newsURL" serializeAs="String">
                <value>https://tarkinswg.com/index.php?/rss/1-announcements.xml</value>
            </setting>
        </Updater.Properties.Settings>
    </userSettings>
</configuration>