<!--Copyright 2017 Steven Helm

This file is part of Updater.

Updater is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Updater is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Updater.  If not, see <http://www.gnu.org/licenses/>.-->

<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Updater.Properties.Settings>
            <setting name="setFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="setClosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="patchLevel" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="serverFileCount" serializeAs="String">
                <value>0</value>
            </setting>
        </Updater.Properties.Settings>
    </userSettings>
</configuration>